.mui-table-view img{
	float: left;
}
.menu_title{
	color: #666666;
	float: left;
	margin-left: 30px;
	margin-top: 5px;
}
.menu_des{
	color: #999999;
	float: right;
	margin-top: 5px;
}
.menu_havetwo{
	color: #999999;
	float: right;
	margin-top: -1px;
}
.menu_two_bottom{
	margin-top: -16px;
}
