body{
    		font-family:'应用字体 Regular', '应用字体';
    		background: #F2F2F2;
    	}
    	#sign_in_form{
    		margin-top: 60px;
    	}
    	#sign_in_form p{
    		width: 90%;
    		text-align: right;
    		margin: 0 auto;
    		padding-bottom: 5px;
    		border-bottom: 1px solid #E4E4E4;
    	}
		#sign_in_form input[type=text],input[type=password]{
    		height: 25px;
    		border: none;
    		border-bottom: 1px solid #999;
    		width: 90%;
    		display: block;
    		margin: 0 auto ;
    		margin-top: 20px;
    		text-indent: 20px;
    	}
    	#sign_in_form input[type=text]:empty,input[type=password]:empty{
    		padding-left: 2em;
    	}
    	#sign_in_code{
    		background: #F2F2F2 url(../images/code.png) no-repeat 0.5% 50%;
    		background-size: 30px 30px;
    	}
    	#sign_in_pwd{
    		background: #F2F2F2 url(../images/pwd.png) no-repeat 0.5% 50%;
    		background-size: 30px 30px;
    	}
    	.p_top{
    		padding-top: 10px;
    	}
    	#sign_in_select{
    		width: 90%;
    		margin: 0 auto;
    		background-size: 30px 30px;
    		position: relative;
    	}
    	select{
    		width: 24%;
    		margin-left: 8%;
    		margin-top: 3%;
    	    /*height: 30px;*/
    	}
    	#sign_in_loaction{
    		position: absolute;
    		top:15px;
    	}
    	.register_footer{
    		background: #F2F2F2;
    		height: 30px;
    		border: none;
    		box-shadow: none;
    		font-family: "font-family:'应用字体 Bold', '应用字体';";
    	}
    	#register_copy{
    		width: 120px;
    		display: block;
    		float: right;
    		margin-top: 10px;
    		font-size: 16px;
    	}