.papers_box{
	background: #FFFFFF;
	height: 120px;
}
.papers_confirm{
	display: block;
	padding: 10px 0 10px 5%;
}
.papers_box img:nth-child(2),.papers_box img:nth-child(4){
	margin-left: 5%;
}
.img_left{
	float: left;
}
.img_right{
	float: right;
	margin-right: 4%;
}
.papers_or{
	margin-top: 20px;
	float: left;
	margin-left: 5%;
}
.clause_ck{
	margin-left: 10px;
}
.add_button{
	display: block;
	width: 95%;
	margin: 0 auto;
	background: #0099FF;
	color: #FFFFFF;
}

