#trade{
	height: 60px;
	width: 96%;
	margin:0 auto;
	border-bottom: 1px solid #CCCCCC;
}
#trade span{
	display: block;
}
#trade .trade_top{
	font-size: 14px;
	font-weight: 700;
	margin-top: 10px;
}
#trade .trade_bottom{
	font-size: 12px;
	font-weight: 400;
	margin-top: 10px;
}
#trade_time{
	height: 50px;
	background: #FFFFFF;
	margin-top: 6px;
}
#trade_time .trade_time_now{
	font-size: 14px;
	font-weight: 700;
	padding-top: 5px;
	margin-left: 10px;
}
#trade_time .trade_time_week{
	font-size: 12px;
	font-weight: 400;
	margin-left: 10px;
}
#trade_time span{
	display: block;
}
