.warehouse_info{
	height: 60px;
	background: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
}
.warehouse_info span{
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #666666;
}
.info_one{
	margin-left: 8px;
}
.info_one,.info_two,.info_three{
	height: 60px;
	float: left;
}
.info_one,.info_two{
	width: 15%;
}
.info_four{
	margin-top: 15px;
	float: right;
}
.info_top{
	margin-top: 10px;
}
#set{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 50px;
	height: 80px;
	background: #F7F7F7;
}
#set span{
	margin-left: 20px;
	font-size: 16px;
	font-weight: 700;
	color: #666666;
}
#set .set_item{
	height: 40px;
	border-bottom: 1px solid #CCCCCC;
}
#set .set_top{
	margin-top: 10px;
}
#set .set_only_top{
	margin-top: 5px;
	margin-right: 15px;
}
#set .set_left{
	float: left;
}
#set .set_right{
	float: right;
}
#set .set_img_top{
	margin-top: 3px;
	margin-right: 15px;
}
